
<p>As a Denver-based Software Developer, I bring over a decade of mid-level management experience in human services, emphasizing mental health improvement and resource connectivity. My transition into technology from public service social work reflects my empathy and commitment to human-centered approaches.</p>
<p><strong>Tech Transition</strong></p>
<p>In my late 30s, I shifted to technology and engineering, leveraging my listening skills to resolve issues through high-tech web solutions. My journey includes training from the Turing community and platforms like The Cloud Bootcamp and CodeAcademy.com. While Ruby on Rails holds a special place, I've also explored Python, C#, some GoLang, and Java.</p>

<p>My expertise lies in building fast back-ends serving clean JSON structures with robust test suites and adherence to TDD and BDD principles. I excel in version control with Git, collaboration via GitHub, and Agile methodologies. Proficient in CD/CI, Docker, Kubernetes, and Terraform, I manage deployments across AWS and Google Cloud.</p>
<p><strong>Tools & Processes</strong></p>
<p>I focus on RESTful API design, have a project using GraphQL, accessibility, and user authentication using various tools including Auth0 access tokens and Redis. In Ruby on Rails development, I rely on gems for productivity and maintain high coding standards.</p>
<p><strong>Learning Path</strong></p>
<p>I work on closing the knowledge gap in Cloud Development, emphasizing Google Cloud, AWS, and Azure, with automation via Terraform to orchesstrate Docker and Kubernetes deployment to focus on closing the knowledge gap in Cloud Development, prioritizing Google Cloud, AWS, and Azure. I leverage Terraform for automation to orchestrate Docker containers within Kubernetes clusters, primarily using Google Cloud Shell Terminal.</p>
<p>Additionally, I'm currently enrolled in the "pre-enrollment" courses at CU Boulder, where I'm delving into Java to create basic data structures. My approach to learning is driven by curiosity and humility, as I continually seek to expand my expertise.</p>