.exposure-container {
  display: flex;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.exposure-list {
  margin-bottom: 20px;
  padding: 0;
  column-count: 2;
}

.exposure-list li {
  list-style: none;
  margin-bottom: 10px;
  break-inside: avoid;
}
.github-graph img {
  max-width: 100%;
}
.medium-article {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.item li {
  list-style: circle;
}